@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Roboto:wght@400;500;700;900&display=swap');
$primaryColor: #DEB666;
$mainWhite: #fff;
$offWhite: #f7f7f732;
$mainBlack: #222;
$mainGrey: #ececec;
$darkGrey: #cfcfcf23;
$mainTransition: all 0.5s linear;
$mainSpacing: 1.5px;
$lightShadow: 2px 5px 3px 0px rgba(20, 20, 20, 0.085);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
$normal-font: 'Roboto', sans-serif;
$title-font: 'Gilda Display', serif;